{% extends "main/base.html" %} {# Load static file #} {% block title %}How well do you DJANGO?{% endblock %} {% block content %}

<div class="container">
    <h1>Test your DJANGO knowledge</h1>
    <form action="{% url 'adminquestion' %}" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        Quiz Name: <input type="text" name="quiz_name">
        Question: <input type="text" name="question_text">
        <p>Please enter options Below:</p>
        <p>
            <input class="with-gap" name="option1" type="text" id="test1" />
            <label for="test1">1</label>
        </p>
        <p>
            <input class="with-gap" name="option2" type="text" id="test2" />
            <label for="test2">2</label>
        </p>
        <p>
            <input class="with-gap" name="option3" type="text" id="test3" />
            <label for="test3">3</label>
        </p>
        <p>
            <input class="with-gap" name="option4" type="text" id="test3" />
            <label for="test3">4</label>
        </p>
        <p>
            <input class="with-gap" name="option5" type="text" id="test3" />
            <label for="test3">5</label>
        </p>
        Answer (Please select the option): <input type="text" name="question_answer">

        <button class="waves-effect waves-light btn teal lighten-2" type="submit" class="btn btn-success" />SUBMIT
        </button>

    </form>
</div>
{% endblock %}
