{% extends "main/base.html" %} {% block title %}How well do you DJANGO?{% endblock %}
{% block content %}
        <div class="container">
            {% if request.user.username == 'quizadmin' %}



                {% for users in user_detail %}
                    <h3>{{ users.username }}</h3>
                    {% for details in users.user_detail %}
                        <ul id="display-inline-block">
                            <li>{{ details.course_name}}</li>
                            <li>{{ details.score}}%</li>
                        </ul>
                    {% endfor %}
                    {% empty %}
                    <p>No user Available</p>
                {% endfor %}

            {% else %}
                <p>Oops...only admin allowed</p>
                <a href="{% url 'home_view' %}" class="btn btn-success teal lighten-2"> GO BACK TO HOME
            {% endif %}
            
        </div>
{% endblock %}