{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>django-quiz</title>
    {# Load static file #}
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}"  media="screen,projection"/>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="hjROlCPBiFje_tO0mc5a2p7MyFottbTxNIogz3fNCz8" />

    {% block head %}{% endblock %}
</head>
<body class="page-background">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="{% url 'home_view' %}" class="brand-logo logo"> INQUIZZIT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_anonymous %}
                    <li><a id="google_login" href="/accounts/google/login">
                        Sign in with Google
                      </a></li>
                    <li><a href="{% url 'user_login'%}">Admin Sign In</a></li>
                {% else %}
                    <li><a href="{% url 'user_logout' %}">Sign Out</a></li>
                    {% if not request.user.username == 'quizadmin' %}
                        <li><a href="{% url 'user_profile' %}">{{ user.username }}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
      </nav>

    <div class="wrapper">
    {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>


    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    {% endblock %}

</body>
<!-- <footer class="page-footer teal lighten-2">
    <div>
        <div class="container">
            &copy 2016 mirabel_ekwenugo
        </div>
    </div>
</footer> -->
</html>