{% extends "main/base.html" %}
{# Load static file #}

{% block title %}Index{% endblock %}

{% block content %}
        <div class="container">
            {% if not user.is_anonymous %}
                {% if request.user.username == 'quizadmin' %}
                <p>WELCOME ADMIN</p>
                <a href="{% url 'adminquestion' %}" class="waves-effect waves-light btn teal lighten-2" type="submit" class="btn btn-success"/>CREATE QUESTION
                </a>
                <a href="{% url 'all_users' %}" class="waves-effect waves-light btn teal lighten-2" type="submit" class="btn btn-success"/>VIEW ALL USERS
                </a>
                {% else %}
                <h3 style="padding-top: 100px;">Test your knowledge </h3>
                {% for quiz in quizzes %}
            <form>
                <a href="/main/quiz/{{ quiz.name }}/" class="waves-effect waves-light btn teal lighten-2" type="submit" class="btn btn-success"/>{{ quiz.name }} 
                </a>
            </form>
                {% endfor %}
                {% endif %}
            {% else %}
            <h3 class="index-text">Welcome, please sign in to continue</h3>
            <p>
            <a id="google_login" href="/accounts/google/login" next="{% url 'home_view' %}" class="btn btn-success teal lighten-2">
                Sign in with Google
            </a>
            </p>
            {% endif %}
        </div>
{% endblock %}
