{% extends "main/base.html" %} {% block title %}How well do you DJANGO?{% endblock %}
{% block content %}
    {% if form.errors %}
        <p class="text-warning">You username and password do not match. please try again!!!</p>
    {% endif %}
        <form role="form" class="form-horizontal" method="POST" action="{% url 'user_login' %}">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-success teal lighten-2" type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
{% endblock %}