{% extends "main/base.html" %} {% block title %}Profile{% endblock %}
{% block content %}
        <div class="container back-cover">
            {% if not user.is_anonymous %}

                {% for user in one_user_detail%}
                    <h3>Hello {{ user.username }}, Below are all you scores</h3>
                    {% for scores in user.user_detail%}

                        <ul id="display-inline-block">
                            <li>{{ scores.course_name }}</li> ---->
                            <li>{{ scores.score }}%</li>
                        </ul>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <a class="btn btn-success teal lighten-2" href="{% url 'home_view' %}"> GO BACK TO HOME</a>
        </div>
{% endblock %}