html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    /*bottom: 0;*/
    height: 50px;
    width: 100%;
    overflow: hidden;
}

body {
    /*background-image: url("../img/background.jpg");*/
    background: #C0C0C0;
}

.index-text {
    padding-top: 250px;
    font-family: Helvetica, Arial, cursive;
}

.quiz-option {
    color: #222!important;
}

.logo {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

ul#display-inline-block,
ul#display-inline-block li {
margin: 0;
padding: 0;
}
 
ul#display-inline-block li {
display: inline-block;
width: 100px;
min-height: 100px;
}
